/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --white-color: hsl(0, 0%, 100%);
  --black-color: hsl(0, 0%, 0%);
  --body-font: "Poppins", sans-serif;
  --h1-font-size: 2rem;
  --normal-font-size: 1rem;
  --small-font-size: .813rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body,
input,
button {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background: linear-gradient(45deg, #0a0a0a, #3a4452);
}

a {
  text-decoration: none;
}

h2 {
  text-align: center; /* Centers the text horizontally */
  color: #1f456e;
  font-size: 30px;
  padding-top: 5%;
  margin-bottom:15px; /* Add some margin-bottom to separate from the form */
}

/* Styling for logo images, adjust as necessary */
.logo1, .logo {
  position: absolute;
  top: 10px;
  width: 10%;
  height: 20%;
}

.logo1 {
  right: 50px; /* Position the first logo to the right */
}

.logo {
  left: 50px; /* Position the second logo to the left */
}

.login {
  display: flex; /* Use flexbox for centering */
  flex-direction: column; /* Stack the heading and form vertically */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  height: 100vh; /* Full viewport height */
  padding-top: 100px; /* Added padding-top if needed for navbar */
}

.login__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.login__form {
  background-color: hsla(0, 0%, 100%, .01);
  border: 2px solid hsla(0, 0%, 50%, .7);
  padding: 2.5rem;
  color: var(--white-color);
  border-radius: 1rem;
  backdrop-filter: blur(16px);
  width: 100%;
  max-width: 420px; /* Set a max-width to the form */
}

.login__title {
  text-align: center;
  font-size: var(--h1-font-size);
  margin-bottom: 1.25rem;
  color:wheat;
  
}

.login__inputs,
.login__box {
  display: grid;
}

.login__inputs {
  row-gap: 1.25rem;
  margin-bottom: 1rem;
}

.login__box {
  grid-template-columns: 1fr max-content;
  column-gap: .75rem;
  align-items: center;
  border: 2px solid hsla(39, 77%, 85%, 0.7);
  padding-inline: 1.25rem;
  border-radius: 4rem;
}

.login__input,
.login__button {
  border: none;
  outline: none;
}

.login__input {
  width: 100%;
  background: none;
  color: var(--white-color);
  padding-block: 1rem;
}

.login__input::placeholder {
  color: var(--white-color);
}

.login__box i {
  font-size: 1.25rem;
}

.login__check,
.login__check-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login__check {
  margin-bottom: 1rem;
  font-size: var(--small-font-size);
}

.login__check-box {
  column-gap: .5rem;
}

.login__check-input {
  width: 1rem;
  height: 1rem;
  accent-color: var(--white-color);
}

.login__forgot {
  color: var(--white-color);
}

.login__forgot:hover {
  text-decoration: underline;
}

.login__button {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: var(--white-color);
  border-radius: 4rem;
  color: #1f456e;
  font-weight: 500;
  font-size: 25px;
  cursor: pointer;
  font-weight: bold;
}

.login__register {
  font-size: var(--small-font-size);
  text-align: center;
}

.login__register a {
  color: var(--white-color);
  font-weight: 500;
}

.login__register a:hover {
  text-decoration: underline;
}

/*=============== BREAKPOINTS ===============*/
/* For medium devices */
@media screen and (min-width: 576px) {
  .login {
    justify-content: center;
    padding-top: 0;
  }
  .login__form {
    width: 420px;
    padding-inline: 2.5rem;
  }
  .login__title {
    margin-bottom: 2rem;
  }
}
